<div class="my-container">
  <div class="card-container">
    <div class="card-header">
      <div class="card-header-left">
        <h3>29(param)</h3>
        <h3>30(param)</h3>
        <h3>31(param)</h3>
      </div>
      <div class="card-header-right">
        <select>
          <option>{{ city }}</option>
        </select>
      </div>
    </div>

    <div class="card-body">
      <div class="card-body-img">
        <img src="{{ iconURL }}" alt="" />
        <p class="card-body-img-text">{{ desc }}</p>
      </div>
      <div class="card-body-temp">
        <p class="card-text">
          hightTemp: <span>{{ hightTemp }}&deg;C</span>
        </p>
        <p class="card-text">
          lowTemp:<span>{{ lowTemp }}&deg;C</span>
        </p>
        <p class="card-text">
          humidity:<span>{{ humidity }}%</span>
        </p>
      </div>
    </div>
  </div>
</div>
